* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-image: url("/images/debut_light.png");
  background-image: url("/images/debut_light.png");
  font: 1em 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  margin: 0; }

nav {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4); }
  nav:before, nav:after {
    content: " ";
    display: table; }
  nav:after {
    clear: both; }
  nav div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    transition: background-color 0.8s; }
    nav div:last-child {
      margin-right: 0; }
  nav div:hover {
    background-color: yellow; }
  nav a {
    text-decoration: none;
    color: black; }
  nav a h1 {
    text-shadow: 0px 1px 0px #efe;
    font-weight: 200;
    text-align: center; }

span.orange {
  color: #e85100; }

div.content {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  margin: 0 auto -30px;
  background-color: #efefef; }
  div.content:before, div.content:after {
    content: " ";
    display: table; }
  div.content:after {
    clear: both; }

div#brag {
  color: #F2F4F6;
  background: -webkit-linear-gradient( #53aee0, #3da4dc);
  background: linear-gradient( #53aee0, #3da4dc);
  text-shadow: 0px 2px 2px #1b6c98;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  height: 320px;
  border-bottom: 1px solid #5D9DBD; }
  div#brag:last-child {
    margin-right: 0; }
  div#brag h1, div#brag h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 200; }
  div#brag h2 {
    font-size: 30pt;
    font-weight: 100; }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    div#brag h1, div#brag h2 {
      font-size: 2rem; } }

div.frontcopy {
  font-size: 14pt;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 20px;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: 300; }
  div.frontcopy:last-child {
    margin-right: 0; }

h3 {
  text-align: center;
  font-size: 20pt;
  font-weight: 100; }

div.last {
  margin-right: 0; }

div.stripe {
  border-top: 1px solid #5D9DBD;
  border-bottom: 1px solid #5D9DBD;
  position: relative;
  height: 10px;
  background: url("/images/ice.png");
  background: url("/images/ice.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  div.stripe:last-child {
    margin-right: 0; }

div.stripe:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(83, 174, 224, 0.685); }

div#contactus {
  font-size: 14pt;
  font-weight: 300;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  padding: 10px;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 30px; }
  div#contactus:last-child {
    margin-right: 0; }

footer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  height: 30px;
  position: relative; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer div {
    position: absolute;
    color: #ccc9c9;
    text-shadow: 0 1px 0 #ECE5E5;
    bottom: 0px;
    left: 10px; }
