@import 'bourbon/bourbon';
@import 'neat/neat'; 

$body-color: #efefef;
$orange: #e85100;
$text-blue: #6DBCE6;

html, body {
  height: 100%
}

body {
  @include background-image(url("/images/debut_light.png"));
    font: 1em 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    margin: 0;
}

nav {
  @include outer-container;
  width: 100%;
  background-color: rgba(255,255,255, 0.4);

  div {
    @include span-columns(4);
    @include transition (background-color .8s);
  }
  div:hover {
    background-color: yellow;
  }
  a {
    text-decoration: none;
    color: black;
  }

  a h1 {
    text-shadow: 0px 1px 0px #efe;
    font-weight: 200;
  }
}

span.orange {
  color: $orange;
}

div.content {
  @include outer-container;
  min-height: 100%;
  margin: 0 auto -100px;
  background-color: $body-color;
}

div#brag {
  color: #F2F4F6;
  @include background(linear-gradient(#53aee0, #3da4dc));
  text-shadow: 0px 2px 2px #1b6c98;
  @include span-columns(12);
  @include omega;
  height: 320px;
  border-bottom:1px solid #5D9DBD;

  h1, h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
  }
  h2 {
    font-size: 30pt;
    font-weight:100;
  }
}

div.frontcopy {
  font-size: 14pt;
  @include span-columns(6);
  padding: 20px;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: 300;
 }

 div.last {
   @include omega();
 }

 div.stripe {
   border-top:1px solid #5D9DBD;
   border-bottom:1px solid #5D9DBD;
   position:relative;
   height: 20px;
   @include background(url("/images/ice.png"));
   @include span-columns(12);
 }

 div.stripe:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(83,174,224,0.685);
}

footer {
  @include outer-container;
  background-color: $body-color;
  height: 100px;
  position: relative;
  div {
   position: absolute;
   color: #ccc9c9;
   text-shadow: 0 1px 0 #ECE5E5;
   bottom: 0px;
   left: 10px;
}
}
